@{ 
    ViewBag.Title = "Home Page";
}
<div class="container">
    <ul>
        <h5>Create User</h5>
        <li>@Html.ActionLink("Create", "Create", "Home")</li>
        <h5>Get AllUser</h5>
        <li>@Html.ActionLink("Get", "Get", "Home")</li>
    </ul>
 
</div>
